@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	font-family: "Abril Fatface";
	overflow: hidden;
	scroll-behavior: smooth;
}

/* 
Menu */

.screen_text {
	font-family: "DM Mono", monospace;
}
